*.pyc
*.pyo
*.wsp
*~
*.pydevproject
*.project
*.sqlite
*.txtm.conf
.settings
tags
TODO
docs/_build
docs/html
build-tools/*.rpm
transifex/settings/*-local.conf
.installed.cfg
.settings
bin
build
develop-eggs
dist
downloads
eggs
*\.egg/
*egg-info
parts
transifex/transifex.egg-info
transifex/transifex.db.sqlite
transifex/logs
site_media/media/reviews_files/*
transifex/site_media/static
transifex/site_media/media/mugshots
*.rej
.DS_Store
htmlcov/*
.coverage
coverage
.*.swp
.sw[po]
*.mo
.dir-locals.el
geoip/
nltk_data/
tests_js/node_modules
tests_js/test_editor/regex_fixtures.js
node_modules/
ghostdriver.log
.venv
.vimrc_local
.vscode
.noseids
cscope.out
.envrc
.idea
docker/volumes/*
txdataenv
*.part
package-lock.json
